.line {
    margin-bottom: 20px;
}

#header {
    clear: both;
    padding: 94px 0 8px 0;
    border-bottom: 2px solid #000;
}

#header.compact {
    padding-top: 8px;
}

#void-block {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    line-height: 24pt;
    margin-bottom: 10pt;
}

#order-source {
    font-size: 24pt;
    font-weight: bold;
    line-height: 24pt;
    padding-bottom: 5px;
    word-wrap: break-word;
}

#ticket-identifier {
    font-size: 24pt;
    font-weight: bold;
    line-height: 24pt;
    padding-bottom: 5px;
    word-wrap: break-word;
}

#pickup-time {
    font-size: 16pt;
    line-height: 20pt;
    clear: both;
}

#pickup-metadata {
    font-size: 13pt;
    line-height: 16pt;
    clear: both;
}

#ticket-details {
    border-bottom: 1px solid #000;
    clear: both;
    padding: 8px 0 8px 0;
}

#shipping-method-label {
    font-weight: bold;
    padding-top: 5px;
    word-wrap: break-word;
}

#shipping-method {
    padding-top: 5px;
    word-wrap: break-word;
}

#to-label {
    font-weight: bold;
    padding-top: 5px;
    word-wrap: break-word;
}

#line-items .line {
    font-size: 18px;
    line-height: 24px;
    display:none;
}

#line-items .line:first-child .line-header:first-child {
    margin-top: -20px;
}

#line-items .line:first-child .line-header {
    border-top: none;
}

#line-items .line .line-header {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 12pt;
    line-height: 20pt;
    text-align: center;
}

#line-items .line .line-header:first-of-type {
    margin-top: 0px;
}

#line-items .line .course-name {
    font-weight: bold;
    background-color: #000;
    color: #FFF;
}

#line-items .line .dining-option {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#line-items .line .quantity,
#line-items .line .details {
    float: left;
}

#line-items .line .quantity,
#line-items .line .details .name,
#line-items .line .action {
    font-weight: bold;
}

.ticket-body .quantity::after {
    /* \00a0 == nbsp; */
    content: '\00a0×\00a0';
}

#line-items .line .details {
    width: 83%;
}

#line-items .line .details .note {
    font-style: italic;
}

#transaction-note {
    border-top: 1px solid #000;
    padding: 8px 15px 8px 15px;
}

#footer {
    border-top: 1px solid #000;
    padding-top: 8px;
}
