.left {
    width: 45%;
}

.right {
    width: 55%;
}

.long {
    clear: both;
    width: 100%;
}

.header {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.ticket-identifier {
    margin-top: -6px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    padding-bottom: 30px;
    word-wrap: break-word;
}

.long-ticket-identifier {
    font-size: 34pt;
    line-height: 34pt;
}

.pickup-time {
    font-size: 16pt;
    line-height: 20pt;
    clear: both;
}

.details {
    border-bottom: 1px solid #000;
    clear: both;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0 10px 0;
}
